/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}


main{

    background-image: url(sources/main2.jpeg);
    background-size: cover;
}
/* Para as imagens*/

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo das setas */
  border-radius: 50%; /* Tornar as setas arredondadas */
  width: 40px;  /* Tamanho maior para as setas */
  height: 40px; /* Tamanho maior para as setas */
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
  }

  .carousel-item img {
    transition: transform 1s ease, opacity 1s ease;
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    transition: transform 1s ease;
  }

  .carousel-inner {
    position: relative;
  }

  /* Customizing controls */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .carousel-control-prev-icon:hover,
  .carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
/* Estilos para o rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
